**Exercice 1 : Manipulation sur les operateurs**

Dans une classe, les élèves ont obtenu les notes suivantes dans un cours :

+ Pierre : 14/20
+ Julie : 16/20
+ Thomas : 18/20
+ Emma : 12/20
+ Lucas : 19/20

Votre tâche consiste à calculer la moyenne des notes de la classe sur 20.

+ Créez les variables note_pierre, note_julie, note_thomas, note_emma et note_lucas et assignez-leur respectivement les notes correspondantes.
+ Calculez la somme des notes en additionnant les variables des notes et assignez le résultat à une variable somme_notes.
+ Calculez la moyenne de la classe en divisant la somme des notes par le nombre d'élèves (dans ce cas, 5) et assignez le résultat à une variable moyenne_classe.
+ Affichez le résultat avec une phrase formatée du type "La moyenne de la classe est de XX/20", en remplaçant XX par la valeur de la variable moyenne_classe.

In [14]:
#Créez les variables note_pierre, note_julie, note_thomas, note_emma et note_lucas et assignez-leur respectivement les notes correspondantes.

In [1]:
note_pierre, note_julie, note_thomas, note_lucas,  note_emma = 14, 16, 18, 19, 12
print(note_pierre, note_julie, note_thomas, note_lucas,  note_emma)

14 16 18 19 12

In [11]:
#Calcul de la somme des notes
somme_notes = note_pierre + note_julie + note_thomas + note_emma + note_lucas
print("La somme des notes egale à :", somme_notes)

La somme des notes egale à : 79

In [13]:
#Calcul de la moyenne de la classe
moyenne_classe = somme_notes/5
print("La moyenne de la classe est de :", moyenne_classe)

La moyenne de la classe est de : 15.8

In [19]:
print("La moyenne de la classe est de", moyenne_classe,"/20")

La moyenne de la classe est de 15.8 /20

**Exercice 2 : Consolidation**

+ (a) Créer la variable distance et lui assigner la valeur 750 (distance Paris-Marseille en km).
+ (b) Créer la variable vitesse et lui assigner la valeur 4.8 (vitesse moyenne d'un marcheur en km/h).
+ (c) Créer une nouvelle variable temps qui correspond au quotient des deux variables précédentes.
  + La variable temps nous donne le temps en heures qu'il faudrait à un marcheur pour voyager de Paris à Marseille sans s'arrêter.

+ (d) Combien de jours et d'heures faudrait-il à notre marcheur pour aller de Paris à Marseille sans s'arrêter ? L'affichage de votre réponse doit être sous la forme "Il faudrait au marcheur 4.0 jours et 14.1 heures.".

In [33]:
# Creation de la variable distance et vitesse
distance = 750 #distance Douala-Yaounde
vitesse = 4.8 #vitesse moyenne d un marcheur en km/h

In [37]:
#calcul de la variable temps
temps = distance/vitesse
print("le temps en heures est de:", temps, "h")

le temps en heures est de: 156.25 h

In [40]:
# Calcul du nombre de jours et d'heures pour le marcheur 
jours = int(temps // 24)  # Partie entière du quotient pour les jours
heures = temps % 24  # Reste de la division pour les heures
print(jours, heures)

6 12.25

**Exercice : Manipulation**

Un magicien dit que si :

> + On choisit un nombre premier différent de 2 et 3.
> + On l'élève au carré.
> + On lui ajoute 17.
> + On le divise par 12 et on garde le reste de cette division, alors le reste de cette division vaut 6.

+ Le magicien a-t-il raison ?

*On rappelle qu'un nombre premier est un nombre qui n'admet que deux diviseurs distincts : 1 et lui-même. Les 10 nombres premiers les plus petits différents de 2 et 3 sont 5, 7, 11, 13, 17, 19, 23, 29, 31, 37.*

In [41]:
nombres_premiers = [5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [53]:
nombre = 13

In [54]:
carre = nombre**2

In [55]:
print(carre)

169

In [61]:
addition = carre+17
print(addition)

186

In [68]:
division = addition //12
print(division)

15

In [65]:
reste = addition %12

In [66]:
reste

6

In [69]:
# On prend le premier nombre premier
x = nombres_premiers[0]

# On élève au carré
x **= 2

# On ajoute 17
x += 17

# On divise par 12 et on garde le reste
x %= 12

# On affiche le résultat
print(x)

6

In [72]:
x = 7
y = 3
z = 2
y**=7
z**=14
print(y)
print(z)

2187
16384

In [73]:
print((3**7 + 2**14)%7 ==0)

True

In [79]:
n = 4
print((3**(2*n+1)+2**(4*n+2))%7 ==0)

True

In [80]:
n=10
print((3**(2*n+1)+2**(4*n+2))%7 ==0)

True

In [81]:
n=5
print((3**(2*n+1)+2**(4*n+2))%7 ==0)

True

**Exercice: France vs Croatie**

In [5]:
extrait = ['Le', 'Brésil,', 'seule', 'équipe', 'à', 'avoir', 'disputé', 'toutes',
           'les', 'phases', 'finales', 'de', 'la', 'compétition,', 'détient', 'le', 'record',
           'avec', 'cinq', 'titres', 'mondiaux', 'et', "s'est", 'acquis', 'le', 'droit', 'de',
           'conserver', 'la', 'Coupe', 'Jules-Rimet', 'en', '1970', 'après', 'sa', '3e',
           'victoire', 'finale', 'dans', 'la', 'compétition,', 'avec', 'Pelé', 'seul',
           'joueur', 'triple', 'champion', 'du', 'monde.', "l'", "Italie", 'et',
           "l'", "Allemagne", 'comptent', 'quatre', 'trophées.', "l'", "Uruguay,", 'vainqueur',
           'à', 'domicile', 'de', 'la', 'première', 'édition,', "l'", "Argentine", 'et',
           'la', 'France', 'ont', 'gagné', 'chacune', 'deux', 'fois', 'la', 'Coupe,',
           "l'", "Angleterre", 'et', "l'", "Espagne", 'une', 'fois.', 'La', 'dernière', 'édition',
           "s'est", 'déroulée', 'en', 'Russie', 'en', '2018,', 'la', 'prochaine', 'doit',
           'avoir', 'lieu', 'au', 'Qatar', 'en', '2022.', 'Celle', 'de', '2026,', 'aux',
           'États-Unis,', 'au', 'Canada', 'et', 'au', 'Mexique)', 'sera', 'la', 'première',
           'édition', 'à', '48', 'équipes', 'participantes.', 'La', 'Coupe', 'du', 'monde',
           'de', 'football', 'est', "l'", "événement", 'sportif', 'le', 'plus', 'regardé', 'à',
           'la', 'télévision', 'dans', 'le', 'monde', 'avec', 'les', 'Jeux', 'olympiques',
           'et', 'la', 'Coupe', 'du', 'monde', 'de', 'cricket.']

In [7]:
pays = "France"
print("France" in extrait)

True

In [8]:
x = "France"
print(x in extrait)

True

In [96]:
y = "Croatie"
print(y not in extrait)

True

In [97]:
print("France" in extrait and "Croatie" not in extrait)

True

**Exercice**

Le gouvernement a décidé d'offrir une prime de 300€ à certains fonctionnaires en fonction de leur salaire et de leur ancienneté. Comme toutes les autres mesures prises par le gouvernement, il est difficile de comprendre à qui cette mesure s'applique.

De ce que vous avez compris, une personne peut toucher à la prime si :

>* Critère 1 : Elle a **moins de 5 ans d'ancienneté et son salaire est strictement inférieur à 1500 euros.**
* Critère 2 : Elle a **entre 5 et 10 ans d'ancienneté et son salaire est compris entre 1500 et 2300 euros.**
* Critère 3 : Elle a **plus de 10 ans d'ancienneté** et son salaire est **strictement inférieur à 1500 euros ou supérieur à 2300 euros.** C'est à dire qu'une personne ayant plus de 10 ans d'ancienneté et un salaire entre 1500 et 2300 euros ne peut pas toucher à cette prime.


Christophe a 12 ans d'ancienneté et un salaire de 2400 euros.

Adam a 6 ans d'ancienneté et un salaire de 1490 euros.

* (a) Déterminer à l'aide des mêmes expressions logiques qui parmi Christophe et Adam peut toucher à cette prime. Pour cela vous pourrez :
>* Créer deux variables anciennete et salaire.
>* Évaluer les 3 critères de décision en fonction des variables anciennete et salaire.
>* Vérifier si au moins un des critères est satisfait.

Pour tester si une valeur x est entre deux valeurs a et b, vous pouvez au choix :
>* Faire deux comparaisons en deux expressions avec un ET logique : x > a and x < b.
* Faire deux comparaisons en une unique expression : a < x < b.

In [18]:
#   Resolution 
# Données pour Christophe et Adam
anciennete_Christophe = 12
anciennete_Adam = 6
salaire_Adam = 1490
salaire_Christophe = 2400

In [14]:
# Evaluons les criteres de Christophe
critere_1_Christophe = anciennete_Christophe < 5 and salaire_Christophe < 1500
critere_2_Christophe = 5 <= anciennete_Christophe <= 10 and 1500 <= salaire_Christophe <= 2300
critere_3_Christophe = 10 < anciennete_Christophe and (salaire_Christophe < 1500 or salaire_Christophe > 2300)

In [15]:
prime_Christophe = critere_1_Christophe or critere_2_Christophe or critere_3_Christophe

In [16]:
print(prime_Christophe)

True

In [20]:
#Criteres Adam

critere1_adam = anciennete_Adam < 5 and salaire_Adam < 1500
critere2_adam = 5 <= anciennete_Adam <= 10 and 1500 <= salaire_Adam <= 2300
critere3_adam = anciennete_Adam > 10 and (salaire_Adam < 1500 or salaire_Adam > 2300)

In [21]:
prime_Adam = critere1_adam or critere2_adam or critere3_adam

In [22]:
print(prime_Adam)

False