In [3]:
import numpy as np
import pandas as pd

## DataFrame

>Création d'un DataFrame à partir d'un array NumPy

Il est possible de créer directement un DataFrame à partir d'un array NumPy grâce au constructeur DataFrame().

L'inconvénient de cette méthode est qu'elle n'est pas très pratique et le type des données est obligatoirement le même pour toutes les colonnes.
> 
pd.DataFrame(data, index, columns, ...)

+ Le paramètre data contient les données à mettre en forme (array NumPy, liste, dictionnaire ou un autre DataFrame).

+ Le paramètre index, si précisé, doit être une liste contenant les indices des entrées.

+ Le paramètre columns, si précisé, doit être une liste contenant le nom des colonnes.

In [5]:
# Création d'un array NumPy 
array = np.array([[1, 2, 3, 4], 
                  [5, 6, 7, 8], 
                  [9, 10, 11, 12]])
 
# Instanciation d'un DataFrame 
df = pd.DataFrame(data = array,                   # Les données à mettre en forme
                  index = ['i_1', 'i_2', 'i_3'],  # Les indices de chaque entrée
                  columns = ['A', 'B', 'C', 'D']) # Le nom des colonnes
df

     A   B   C   D
i_1  1   2   3   4
i_2  5   6   7   8
i_3  9  10  11  12

In [ ]:
Ceci produit le DataFramesuivant :

|     |   A   |   B   |   C   |   D   |
|----:|-------|-------|-------|-------|
| i_1 |   1   |   2   |   3   |   4   |
| i_2 |   5   |   6   |   7   |   8   |
| i_3 |   9   |  10   |  11   |  12   |

> Création d'un DataFrame à partir d'un dictionnaire

+ Grâce à cette technique, les colonnes peuvent être de type différent et sont déjà définie lors de la création du DataFrame.

In [6]:
# Création d'un dictionnaire
dictionnaire = {'A': [1, 5, 9], 
                'B': [2, 6, 10],
                'C': [3, 7, 11],
                'D': [4, 8, 12]}
 
# Instanciation d'un DataFrame 
df = pd.DataFrame(data = dictionnaire,
                  index = ['i_1', 'i_2', 'i_3'])
df

     A   B   C   D
i_1  1   2   3   4
i_2  5   6   7   8
i_3  9  10  11  12