In [1]:
import pandas as pd
import numpy as np

link ="C:/Users/Brice Daleu/Desktop/LEARNING PYTHON/Python learning/PYTHON PROJECT/car_prices.csv"
#ï‚·Importer le dataset.
cars = pd.read_csv(link, sep=',', index_col='vin')
cars

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
vin,,,,,,,,,,,,,,,
5xyktca69fg566472,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
5xyktca69fg561319,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
wba3c1c51ek116351,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
yv1612tb4f1310987,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
wba6b2c57ed129731,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
knalw4d4xf6019304,2015,Kia,K900,Luxury,Sedan,NaN,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
3c6td5et6cg112407,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
5uxzw0c58cl668465,2012,BMW,X5,xDrive35d,SUV,automatic,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
1n4al3ap0fc216050,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
1ftfw1et2eke87277,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [2]:
cars_cleaned = cars.dropna(subset=['saledate'])

print(cars_cleaned.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65351
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                26
sellingprice        0
saledate            0
dtype: int64

In [3]:
cars_cleaned = cars_cleaned.drop_duplicates(keep='first')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [4]:
cars_cleaned

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
vin,,,,,,,,,,,,,,,
5xyktca69fg566472,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
5xyktca69fg561319,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
wba3c1c51ek116351,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
yv1612tb4f1310987,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
wba6b2c57ed129731,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
knalw4d4xf6019304,2015,Kia,K900,Luxury,Sedan,NaN,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
3c6td5et6cg112407,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
5uxzw0c58cl668465,2012,BMW,X5,xDrive35d,SUV,automatic,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
1n4al3ap0fc216050,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
1ftfw1et2eke87277,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
cars_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558825 entries, 5xyktca69fg566472 to 1ftfw1et2eke87277
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558825 non-null  int64
 1   make          548524 non-null  object
 2   model         548426 non-null  object
 3   trim          548174 non-null  object
 4   body          545630 non-null  object
 5   transmission  493474 non-null  object
 6   state         558825 non-null  object
 7   condition     547005 non-null  float64
 8   odometer      558731 non-null  float64
 9   color         558076 non-null  object
 10  interior      558076 non-null  object
 11  seller        558825 non-null  object
 12  mmr           558799 non-null  float64
 13  sellingprice  558825 non-null  float64
 14  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(10)
memory usage: 84.3+ MB

In [6]:
cars_cleaned.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65351
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                26
sellingprice        0
saledate            0
dtype: int64

In [7]:
cars_cleaned.describe()

,year,condition,odometer,mmr,sellingprice
count,558825.000000,547005.000000,558731.000000,558799.000000,558825.000000
mean,2010.038864,30.672557,68320.652287,13769.377495,13611.358810
std,3.966882,13.402872,53398.923572,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28370.500000,7100.000000,6900.000000
50%,2012.000000,35.000000,52255.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99110.500000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

DISVISION EN TRAIN ET EN TEST

In [8]:
train, test = train_test_split(cars_cleaned, test_size=0.2, random_state=42)

NameError: name 'train_test_split' is not defined